.acb
aclocal.m4
autom4te.cache/
ChangeLog
colord-*.tar.bz2
colord-*.tar.gz
compile
confdefs.h
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
*.patch
NEWS.new
