Makefile.in
Makefile.libs
.libs
*.bak
*.gcno
*.out
*.txt
*.stamp
tmpl
xml
html
html-build.stamp
html.stamp
colord-docs.xml
colord.args
colord.hierarchy
colord.interfaces
colord.prerequisites
colord.signals
colord.types
colord-scan.c
colord-scan.o
scan-build.stamp
sgml-build.stamp
sgml.stamp
tmpl-build.stamp
tmpl.stamp
version.xml
